# venv
venv/
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# OS
.DS_Store

# IDE
.vscode/
.idea/
*.yaml
backend/extractor/Output/search_result.txt
backend/extractor/Output/search_result.csv
