{% extends "base.html" %}

{% block content %}
<div class="main-info">
    <div class="text-section">
        <h2> О корпусе</h2>
        <p><strong>Караимскй язык</strong>&nbsp;&mdash; язык караимов, народа, проживающего на&nbsp;территории России
            и&nbsp;в&nbsp;некоторых других регионов. Относится к
            кыпчакской группе тюркских языков и&nbsp;имеет сильную диалектную раздробленность. На&nbsp;сегодняшний день
            общение на&nbsp;караимском
            языке фактически прекратилось.
        </p>

        <p>
            В&nbsp;данном корпусе представлены некоторые тексты тракайского диалекта, полученные
            П.&nbsp;В.&nbsp;Гращенковым в&nbsp;2011&nbsp;г.&nbsp;от&nbsp;Михаила
            Ананьевича Зайончковского, газзана караимской кенассы, участника Великой Отечественной войны, автора книг
            о&nbsp;караимской
            культуре и&nbsp;религии.
        </p>

        <p>
            На&nbsp;текущем этапе корпус содержит три текста и&nbsp;состоит из&nbsp;333&nbsp;предложений, включающих
            2842&nbsp;слова.
            В&nbsp;дальнейшем планируется добавление в&nbsp;корпус новых текстов.
        </p>
    </div>

    <!-- <div class="text-section">
        <h2> Содержание</h2>
        <ol>
            <li><a href="#use-corpus">Как пользоваться корпусом</a></li>
            <li> <a href="#abbreviations">Список сокращений</a></li>
            <li> <a href="#participants">Участники</a></li>
            <li><a href="#resources">Благодарности</a></li>
        </ol>
    </div> -->
    <div class="text-section" id="use-corpus">
        <h2> Как пользоваться корпусом</h2>
        <p> Поисковой механизм корпуса поддерживает поиск по&nbsp;леммам и&nbsp;словоформам как
            на&nbsp;караимском, так и&nbsp;на
            русском.
            Для караимских слов полностью поддерживается дополнительный поиск по&nbsp;различным грамматическим
            признакам; в&nbsp;случае
            русского языка для словоформ поиск происходит с&nbsp;помощью регулярного выражения по&nbsp;русскому
            переводу.

        </p>
        <p>Для удобства пользованием корпусом аннотация была осуществлена в&nbsp;структуре Universal
            Dependencies
            (UD). Глоссирование текстов реализовано также по&nbsp;общепринятым стандартам разметки&nbsp;&mdash;
            Лейпцигской
            системе правил глоссирования.
            <!-- Тексты снабжены следующей разметкой: -->
            <!-- <ul class="ul-list">
            <li>POS&nbsp;&mdash; часть речи слова</li>
            <li>Case&nbsp;&mdash; падеж слова (для имен существительных)</li>
            <li>NounType&nbsp;&mdash; тип имени существительного</li>
            <li>Clusivity&nbsp;&mdash; инклюзивное или эксклюзивное прочтение (для местоимений)</li>
            <li>VerbForm&nbsp;&mdash; тип глагола</li>
            <li>Tense&nbsp;&mdash; время глагола</li>
            <li>Mood&nbsp;&mdash; наклонение глагола</li>
            <li>Aspect&nbsp;&mdash; аспект глагола</li>
            <li>Number&nbsp;&mdash; число</li>
            <li>Person (main word)&nbsp;&mdash; лицо главного слова</li>
            <li>Person (object / possessor)&nbsp;&mdash; лицо объекта или посессора</li>
            <li>Clitic&nbsp;&mdash; клитики </li>
            <li>Coordination&nbsp;&mdash; сочинение</li>
            <li>Miscellaneous&nbsp;&mdash; дополнительные признаки</li>
        </ul> -->
        </p>
        <p>
            Поиск поддерживает до&nbsp;10&nbsp;слов в&nbsp;одном запросе, а&nbsp;также снабжен виртуальной
            клавиатурой
            для особых знаков в&nbsp;караимской письменности.
        </p>
    </div>

</div>
{% endblock %}