{% extends "base.html" %}

{% block content %}
<div class="main-info">
    <div class="text-section">
        <h2> О корпусе</h2>
        <p><strong>Нивхский язык</strong>&nbsp;&mdash; уникальный язык-изолят, ареально отнесенный
            к&nbsp;палеоазиатской
            группе и&nbsp;распространенный в&nbsp;низовьях Амура и&nbsp;на&nbsp;Сахалине. На&nbsp;данный момент
            количество людей, считающих себя нивхами, составляет примерно 4,5 тысячи человек. Корпус создавался
            нами с&nbsp;целью сохранения языковых данных в&nbsp;цифровом виде и&nbsp;будет полезен для
            лингвистов-исследователей, а&nbsp;также для всех, кто хочет изучать нивхский язык.
        </p>

        <p>
            На&nbsp;текущий момент корпус включает 25&nbsp;текстов разных авторов, составляющих 1251 предложение
            с&nbsp;суммарным количеством слов, превышающим 8&nbsp;т. словоформ. В&nbsp;корпусе представлены
            тексты на&nbsp;амурском,&nbsp;сахалинском и&nbsp;шмидтовском диалектах, 14,&nbsp;9
            и&nbsp;2&nbsp;текстов соответственно.
            Кроме того, тексты относятся к&nbsp;разным жанрам, что обеспечивает репрезентативность корпуса.
        </p>
    </div>

    <div class="text-section">
        <h2> Содержание</h2>
        <ol>
            <li><a href="#use-corpus">Как пользоваться корпусом</a></li>
            <li> <a href="#abbreviations">Список сокращений</a></li>
            <li> <a href="#participants">Участники</a></li>
            <li><a href="#resources">Благодарности</a></li>
        </ol>
    </div>
    <div class="text-section" id="use-corpus">
        <h2> Как пользоваться корпусом</h2>
        <p> Поисковой механизм корпуса поддерживает поиск по&nbsp;леммам и&nbsp;словоформам как
            на&nbsp;нивхском, так и&nbsp;на
            русском.
            Для нивхских слов полностью поддерживается дополнительный поиск по&nbsp;различным грамматическим
            признакам; в&nbsp;случае
            русского языка для словоформ поиск происходит с&nbsp;помощью регулярного выражения по&nbsp;русскому
            переводу.

        </p>
        <p>Для удобства пользованием корпусом аннотация была осуществлена в&nbsp;структуре Universal
            Dependencies
            (UD). Глоссирование текстов реализовано также по&nbsp;общепринятым стандартам разметки&nbsp;&mdash;
            Лейпцигской
            системе правил глоссирования. Тексты снабжены следующей разметкой:
        <ul class="ul-list">
            <li>POS&nbsp;&mdash; часть речи слова</li>
            <li>Case&nbsp;&mdash; падеж слова (для имен существительных)</li>
            <li>NounType&nbsp;&mdash; тип имени существительного</li>
            <li>Clusivity&nbsp;&mdash; инклюзивное или эксклюзивное прочтение (для местоимений)</li>
            <li>VerbForm&nbsp;&mdash; тип глагола</li>
            <li>Tense&nbsp;&mdash; время глагола</li>
            <li>Mood&nbsp;&mdash; наклонение глагола</li>
            <li>Aspect&nbsp;&mdash; аспект глагола</li>
            <li>Number&nbsp;&mdash; число</li>
            <li>Person (main word)&nbsp;&mdash; лицо главного слова</li>
            <li>Person (object / possessor)&nbsp;&mdash; лицо объекта или посессора</li>
            <li>Clitic&nbsp;&mdash; клитики </li>
            <li>Coordination&nbsp;&mdash; сочинение</li>
            <li>Miscellaneous&nbsp;&mdash; дополнительные признаки</li>
        </ul>
        </p>
        <p>
            Поиск поддерживает до&nbsp;10&nbsp;слов в&nbsp;одном запросе, а&nbsp;также снабжен виртуальной
            клавиатурой
            для особых знаков в&nbsp;нивхской письменности.
        </p>
    </div>
    <div class="text-section" id="abbreviations">
        <h2> Список сокращений</h2>
        <p> <strong> Группа признаков POS (части речи) </strong></p>
        <p>ADV&nbsp;&mdash; наречие, CLASS&nbsp;&mdash; классификатор,
            DISC&nbsp;&mdash; дискурсивные частицы, NOUN&nbsp;&mdash; существительные, NUM&nbsp;&mdash;
            числительные,
            PRON&nbsp;&mdash; местоимения, PROPN&nbsp;&mdash; имена собственные, Q&nbsp;&mdash; квантор,
            VERB&nbsp;&mdash; глагол.</p>

        <p> <strong> Группа признаков Case (падеж) </strong></p>
        <p>Abl&nbsp;&mdash; аблатив, Abs&nbsp;&mdash; абсолютив, Cau&nbsp;&mdash;
            падеж каузи,
            Cmp&nbsp;&mdash; компаратив, Com&nbsp;&mdash; комитатив, Dat&nbsp;&mdash; датив, Ins&nbsp;&mdash;
            инструменталис,
            Lim&nbsp;&mdash; лимитатив, Loc&nbsp;&mdash; локатив, Per&nbsp;&mdash; перлатив, Rep&nbsp;&mdash;
            репортатив,
            Voc&nbsp;&mdash; вокатив.</p>

        <p> <strong> Группа признаков NounType (тип номинализации) </strong></p>
        <p> Agent&nbsp;&mdash; агентивная, Locat&nbsp;&mdash;
            локативная,
            Proc&nbsp;&mdash; процесс, Instr&nbsp;&mdash; инструментальная.</p>

        <p> <strong> Группа признаков Clusivity (инклюзивность) </strong></p>
        <p> Ex&nbsp;&mdash; эксклюзивный, In&nbsp;&mdash;
            инклюзивный.</p>

        <p> <strong> Группа признаков VerbForm (тип нефинитной формы)
            </strong></p>
        <p> Conv&nbsp;&mdash; конверб, Part&nbsp;&mdash;
            причастие.</p>

        <p> <strong> Группа признаков Tense (время) </strong></p>
        <p>Fut&nbsp;&mdash; будущее, Non-Fut&nbsp;&mdash; настояще-прошедшее
            время.</p>

        <p> <strong> Группа признаков Mood (наклонение) </strong></p>
        <p>Cnd&nbsp;&mdash; условное, Conces&nbsp;&mdash; уступительное,
            Des&nbsp;&mdash; дезидератив, Hort&nbsp;&mdash; гортатив, Imp&nbsp;&mdash; императив,
            Ind&nbsp;&mdash; индикатив,
            Indir&nbsp;&mdash; косвенная речь, Jus&nbsp;&mdash; юссив, Prob&nbsp;&mdash; пробабилитив,
            Proh&nbsp;&mdash; прохибитив.</p>

        <p> <strong> Группа признаков Aspect (вид) </strong></p>
        <p>Prog&nbsp;&mdash; прогрессив, Ant&nbsp;&mdash; предшествование,
            Iter&nbsp;&mdash; повторяемость, Usit&nbsp;&mdash; узитатив, Compl&nbsp;&mdash; комплетив,
            Sim&nbsp;&mdash; одновременность, Avert&nbsp;&mdash; авертив.</p>

        <p> <strong> Группа признаков Person, word / obj / pos (лицо самой словоформы, объектной
                и&nbsp;посессивной
                клитики) </strong></p>
        <p>1&nbsp;&mdash; первое лицо, 2&nbsp;&mdash; второе лицо, 3&nbsp;&mdash; третье лицо.</p>

        <p> <strong> Группа признаков Number (число словоформы) </strong></p>
        <p>Sing&nbsp;&mdash; единственное число,
            Plur&nbsp;&mdash; множественное число.</p>

        <p> <strong> Группа признаков Coordination (сочинение) </strong></p>
        <p>VCoord&nbsp;&mdash; глагольное сочинение,
            NCoord&nbsp;&mdash; именное сочинение.</p>

        <p> <strong> Отдельные признаки </strong></p>
        <p>Aux&nbsp;&mdash; вспомогательный глагол, Caus&nbsp;&mdash; каузатив,
            Collective num&nbsp;&mdash; собирательные числительные, Emphatic&nbsp;&mdash; эмфаза,
            Evid&nbsp;&mdash; эвиденциальность, Focus&nbsp;&mdash; фокус, Negation&nbsp;&mdash; отрицание,
            Indefinite&nbsp;&mdash; неопределенность, Question&nbsp;&mdash; вопрос.</p>

        <p> <strong> Группа признаков Clitic (клитики) </strong></p>
        <p>Obj&nbsp;&mdash; объект, Pos&nbsp;&mdash; посессор,
            Reciprocal&nbsp;&mdash; реципрок, Reflex&nbsp;&mdash; рефлексив.</p>
    </div>
    <div class="text-section" id="participants">
        <h2> Участники проекта</h2>
        <div class="contact-grid">
            <!-- Contact 1 -->
            <div class="contact-card">
                <div class="image-wrapper">
                    <img src="/static/images/dvs.jpg" alt="Jane Doe">
                </div>
                <h4>Д. В. Савина</h4>
                <p>разработка сайта, автоматическое глоссирование, разбор текстов</p>
            </div>

            <div class="contact-card">
                <div class="image-wrapper">
                    <img src="/static/images/eng.jpg">
                </div>
                <h4>Е. Н. Гогуа</h4>
                <p>обработка данных, разбор текстов</p>
            </div>

            <div class="contact-card">
                <div class="image-wrapper">
                    <img src="/static/images/ekhi.jpg">
                </div>
                <h4> Э. Х. Измайлова</h4>
                <p>автоматические глоссирование и перевод, разбор текстов</p>
            </div>
            <div class="contact-card">
                <div class="image-wrapper">
                    <img src="/static/images/pvg.jpg">
                </div>
                <div class="contact-text">
                    <h4>П. В. Гращенков</h4>
                    <p>прототипирование, планирование, разбор текстов, руководство</p>
                </div>
            </div>
        </div>
    </div>
    <div class="text-section" id="resources">
        <h2>Благодарности</h2>
        <p> Исследование выполнено сотрудниками лаборатории автоматизированных лексикографических систем НИВЦ
            МГУ при поддержке гранта РНФ &#8470;&nbsp;25-28-00552 &laquo;Цифровизация данных исчезающего языка:
            нивхский&raquo;, реализуемого в&nbsp;МГУ имени М.В. Ломоносова.</p>
        <p>
            Мы&nbsp;чрезвычайно признательны нашим друзьям и&nbsp;партнерам из&nbsp;<a
                href="https://lib-nogliki.shl.muzkult.ru/" class="href-in-text">библиотеки Ноглик</a>
            за&nbsp;регулярную помощь с&nbsp;поиском данных.
            Мы&nbsp;также признательны <a class="href-in-text" href="https://ext-web.edu.sgu.ac.jp/hidetos/">Хидетоши
                Шираиши</a>
            за&nbsp;собранный им&nbsp;нивхский материал, который
            частично был размечен и&nbsp;включен нами в&nbsp;данную коллекцию.

        <p>
            Создатели <a class="href-in-text" href="https://nivkh.web-corpora.net">первого нивхского
                корпуса</a>, В.&nbsp;Ю.&nbsp;Гусев и&nbsp;Р.&nbsp;И.&nbsp;Идрисов также
            поделились с&nbsp;нами текстовыми данными, что помогло нам ускорить свою работу (размеченные части
            двух корпусов при этом не&nbsp;пересекаются).
        </p>
        <p>
            Мы&nbsp;благодарим Е.&nbsp;Ю.&nbsp;Груздеву, на&nbsp;которую мы&nbsp;старались равняться
            в&nbsp;наших занятиях нивхским и&nbsp;работы которой помогали нам на&nbsp;пройденном пути! Стоит
            упомянуть также и&nbsp;всех наших предшественников-классиков нивхологии: Л.&nbsp;Я.&nbsp;Штернберга,
            Е.&nbsp;А. Крейновича, В.&nbsp;З.&nbsp;Панфилова, В.&nbsp;П. Недялкова, Г.&nbsp;А.&nbsp;Отаину
            и&nbsp;многих других.
        </p>
        <p>
            Отдельное спасибо нашим техническим консультантам, С.&nbsp;Аверкиеву и&nbsp;А.&nbsp;Губанову!
        </p>
        <p>
            Особая благодарность должна быть высказана людям, которые принимали посильное участие на&nbsp;разных
            этапах сбора данных, анализа литературы и&nbsp;т.д., прежде всего это С.&nbsp;Шевёлев
            и&nbsp;М.&nbsp;Гринчевский. Мы&nbsp;также признательны всем посетителям нивхского спецкурса МГУ
            последних трех лет.
            Большое спасибо всем студентам, кто помогал нам с&nbsp;разбором текстов и&nbsp;разметкой данных:
            Л.&nbsp;Зайцеву, М. Медведевой, В.&nbsp;Слобожаниновой и&nbsp;многим другим!</p>
    </div>
</div>
{% endblock %}