{% extends "base.html" %}

{% block content %}
<div class="search_output" id="output-info">
    <div class="top-back-container">
        <a class="back_to_search" href="/{{corpus.id}}">Вернуться к поиску</a>
    </div>
    <div class="query">
        <div class="statistics">
            <div class="counter" id="documents">Найдено 0 примеров</div>
        </div>
        <div class="info-text">
            <p id="conditions">По запросу</p>
            <details>
                <summary class="show-more" id="show-conditions">Показать условия</summary>
            </details>
        </div>
        <div class="query-text" id="query-text">
        </div>
    </div>

    <div class="aux-functions">
        <div class="filter-container">
            {% if corpus.meta.date%}
            {% include "partials/sorting.html" %}
            {% endif %}

            {% if corpus.meta.dialect and corpus.meta.dialect | length > 1%}
            {% include "partials/dialect.html" %}
            {% endif %}

            {% if corpus.meta.genre and corpus.meta.genre | length > 1%}
            {% include "partials/genre.html" %}
            {% endif %}

        </div>
        <div class="filter-container">
            {% include "partials/download.html" %}
        </div>
    </div>

    <div class="example-output" id="no-found-data">
        По заданному поиску не найдено результатов. <br> Попробуйте поменять запрос.
    </div>

    <div class="documents-output" id="all-documents">

        {% include "partials/go-up-button.html" %}
        <!-- <a class="go-up">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M5.83333 13.3333V3.1875L1.16667 7.85417L0 6.66667L6.66667 0L13.3333 6.66667L12.1667 7.85417L7.5 3.1875V13.3333H5.83333Z"
                    fill="#1C1B1F" />
            </svg>
        </a> -->

    </div>

    <div class="show-button" id="show-more">Показать ещё</div>

</div>
{% endblock %}

{% block footer %}<footer></footer>{% endblock %}

{% block scripts %}
<script src="/static/js/search_output.js"></script>
<script src="/static/js/dropdown.js"></script>
{% endblock %}